{
  "Actions": [
    {
      "Name": "attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "flip",
      "KeyboardCode": "f",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "764152f5-a41c-4678-a77a-d4fc2b6029eb",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}